{% extends 'bootstrap3/bootstrap3.html' %}

{% block bootstrap3_title %}List of texts{% endblock %}


{% block bootstrap3_content %}
    <a href="{% url 'text_add' %}" class="btn btn-default">Добавить текст</a>
    <ul>
    {% for page in pages %}
        <li><a href="{% url 'text_info' page.slug %}">{{ page.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
