{% extends 'bootstrap3/bootstrap3.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}List of texts{% endblock %}

{% block bootstrap3_content %}
    <form role="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if is_save %}
            {% buttons submit='Сохранить' reset="Очистить форму" %}{% endbuttons %}
            <a href="{% url 'text_send' page.slug %}" class="btn btn-info red">Отправить текст</a>
        {% else %}
            {% buttons submit='Добавить' reset="Очистить форму" %}{% endbuttons %}
        {% endif %}
    </form>
{% endblock %}
